html,body {
    overflow: hidden;
    background: url('./acfun.png');
    background-size: auto 100%;
}

body {
    margin: 0;
    font-family: "Open Sans",arial,x-locale-body,sans-serif;
}

.layer {
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.45);
    position: relative;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
}

.topbar {
    position: absolute;
    left: 20px;
    top: 10px;
    color: #fff;
    font-size: 14px;
    line-height: 2;
}

.topbar > div {
    display: inline-block;
    cursor: pointer;
}

.topbar > div:hover {
    border-bottom: 1px solid #fff;
}

.public-notice {
    margin-left: 15px;
}

.desc-block {
    flex: 1 1 auto;
}

.video-block {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}

.video {
    flex: 0 0 auto;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
}

.video video {
    flex: 0 0 auto;
    opacity: 0.75;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.45);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slogan {
    font-size: 32px;
    line-height: 1.7;
    text-align: center;
    margin-bottom: 100px;
    color: #fd4c5b;
    font-weight: bold;
    margin: 0;
}
.buttons {
    text-align: center;
    margin-top: 45px;
}

.download-button, .tech-button {
    display: inline-block;
    height: 45px;
    line-height: 45px;
    width: 175px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid #fd4c5b;
    color: #fd4c5b;
}

.download-button:hover, .tech-button:hover {
    border: 1px solid #fff;
    color: #fff;
}

.tech-button {
    margin-left: 35px;
}

.contact {
    position: absolute;
    font-size: 12px;
    color: #fff;
    bottom: 5px;
    left: 0;
    right: 25px;
    text-align: right;
}

.author {
    color: #fff;
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.alert {
    max-width: 750px;
    min-width:645px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    border: 1px solid #000;
    display: none;
}

.alert.active {
    display: initial;
}

.alert-header {
    height: 35px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff; 
    display: flex;
}

.alert-title {
    flex: 1 1 0;
    padding-left: 25px;
}

.alert-close {
    font-size: 24px;
    padding: 0 15px;
    cursor: pointer;
    margin-right: 15px;
}

.alert-body {
    max-height: 350px;
    padding: 25px 25px;
    overflow: auto;
}

.alert-body p {
    margin: 0;
    line-height: 1.75;
}

.content-item {
    margin-bottom: 35px;
}

.content-item:last-child {
    margin-bottom: 0;
}

.alert-body .content-item-header {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.alert-body .content-item-header-time {
    width: 100px;
}

.alert-body .content-item-content{
    margin-top: 5px;
    padding-left: 100px;
    font-size: 14px;
}